$color1: #faf0dc;
$color2: #5c6e58;
$color3: #8aa899;
$color4: black;
$color5: #0f2557;
$color6: #f6f4f2;
$dark: #3f3f3f;
$dark2: #282828;
$text1: "bruno ace";
$text2: "Roboto";
$main_p: 10vmax;
$md_p: 7vmax;
$sm_p: 5vmax;
$sec_p: 3vmax;
